html,body{
	font-family: Arial,sans-serif;
	padding: 0;
	margin: 0;
}
header{
	background-color: #8E817E;
	background-image: url();
	background-repeat:repeat;
	padding: 40px;
	text-align: center;


	/*--padding is space inside elements of header*/
}
h1{
	font-size:100px;
	color:#EECFB1; 
	text-shadow: 0 4px 20px black;
}
header img{
	border-radius: 150px;
	width: 300px;
	border:11px solid #BA7E45;
	box-shadow: 0 01px 20px black;
}

.content{
	background-color: coral;
	max-width: 400px;
	margin: 0 auto;
	padding: 0 20px;
}

img.cuddle{
	max-width: 100%;
}

p.caption{
	font-size:16px ;
	color: lightgrey;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;

}
a{
	color: pink;
	text-decoration: none;
}
footer{
	padding: 40px 20px;
	background-color: E6E6E6;
	margin-top: 20px;
}
footer ul{
	text-align: center;

}
footer ul li{
	display: inline-block;
	margin: 0 5px;
}