/*----------scrollbar---------*/

 ::-webkit-scrollbar-thumb {
    height:auto;
    background-color:transparent;
    border-radius:20px;
    }
    ::-webkit-scrollbar {
    height:7px;
    width:3px;
    background-color: transparent;
    border-radius:50px;
    }


.html,body{
    background-color: grey;
    font-family: Consolas;
width: 100%;
height:100%;
  margin:0;
  padding:0;
   position: relative;
  min-height: 100%;

}
header{
    
    background-color: pink;
    padding: 5px;
    font-family: 'Consolas', cursive; 
    font-size: 15px;  
    text-transform: uppercase;  color: white; 
    font-weight: bold;  
    text-align: left;  
    letter-spacing: 3px;
    width: 500;
    height: 300;
     overflow: auto; 
     border-bottom: 1px solid #000;
    border: 3px solid #pink;
display: :inline;
    }

.header span { 
    style="display:inline 
  float: right;

}



/* pozadina navig */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* linkovi u navig*/
.topnav a {
  float: right;
  color: pink;
  text-align: center;
  padding: 9px;
  text-decoration: none;
  font-size: 17px;
}

/* link na hover */
.topnav a:hover {
  background-color: pink;
  color: black;
}

/* trenutna boja linka*/
.topnav a.active {
  background-color: black;
  color: white;
}








.header img{
    width: 150px; 
    border: 15px ;
    position: left;
     overflow: auto; 
}
.h1{
    background:#000000; 
    text-transform: uppercase;  color: white;
    padding: 2px;  
    font-weight: bold;  
    text-align: left;  
    letter-spacing: 3px; 

    font-family: 'Amatic SC', cursive; 
    font-size:30px;
    color:#FFFFFF; }



.h3{
     background:#000000; 
    font-size: 10px;  
    text-transform: uppercase ;  
    color: white;
    padding: 2px;  
    font-weight: bold;  
    text-align: center;  
    letter-spacing: 3px; 

    font-family: 'Amatic SC', cursive; 
    font-size:30px;
    color:pink; 
}





.content{
    /*ako se dira margina pomjeri se*/
    margin: 0 auto;
    padding-left: 20px;  
    padding-right: 20px; 
    padding-top: 5px;  color: #pink;   

    border: 3px solid #000000;
    background: #pink; 
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    width: 900px;  
    height: 900px;  
     overflow: auto; 
   
}


.leo {
    background: black;
position:left;
width:400px;
float:left;
margin-bottom: 20px;
margin-left: 20px;


}
.leo img {
    transition:transform 0.25s ease;
}

.leo img:hover {
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(3);
}

.debeli{
    background: white;
    position: center;
    width: 400px;
    margin: 0 auto;
}
.debeli img {
    transition:transform 0.25s ease;
}

.debeli img:hover {
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(3);

}

.ul{
    list-style: none;
    padding: 0;
    margin: 0;

}
.a{
    background*color: black;
    color: pink;
    text-decoration: none;
}
.a:hover{
    background-color: #2A315E;
}
.footer{
  position: relative;
  padding: auto;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  border: 5px, black;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  clear:both;
  margin: 0 auto;
   overflow: auto; 
}

.* {
  margin: 0;
}


.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 152px; 
}
.site-footer {
  background: black;
}

.fa {
 padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {

  opacity: 0.9;
}

