html,body{
	background-color: grey;
	font-family: Consolas;
	padding: 0;
	margin: 0;


}
header{
	width: 50px; 
	height:auto; 
	padding: 20px; 
	border: 5px solid #E07FAA;
    background: #333333; 


	background-color: white;
	padding: 20px;
	text-align: center;
	font-family: Montserrat;
	
	overflow: auto; 

	/*--padding is space inside elements of header*/
}
h1{
	font-size:100px;
	color:#000000; 
}
header img{

		width: 150px; 
	height: 150px; 
	border-radius: 50%; 
	background-size: cover; 

	
}

.img-db {


.content{
	background-color: pink;
	max-width: 400px;
	margin: 0 auto;
	padding: 0 20px;
}

img.cuddle{
	max-width: 100%;
}

p.caption{
	font-size:16px ;
	color: lightgrey;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;

}
a{
	background*color: #7385EB;
	color: pink;
	text-decoration: none;
}
a:hover{
	background-color: #2A315E;
}
footer{
	padding: 40px 20px;
	background-color: E6E6E6;
	margin-top: 20px;
}
footer ul{
	text-align: center;

}
footer ul li{
	display: inline-block;
	margin: 0 5px;
}